@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');

main{
	text-align: center;
}

input{
	margin: 0 0 0 0;
}

p{
	margin-top: 5px;
	margin-bottom: 5px;
}

button{
	margin-top: 20px;
	margin-bottom: 0px;
	width: 60%;
}

#tempSection{
	font-family: 'Baloo Bhaijaan', cursive;
	margin-top: 70px;
	font-size: 5em;
}

.loading img{
	width: 50%;
	height: 50%;
	max-width: 360px;
	max-height: 270px;
	margin-top: 0px;
}

footer{
	bottom: 0;
	position: fixed;
	left: 50%;
	margin-left: -100px;
}

